<template>
  <div id="app">
    <h3>Dados</h3>
    <ul v-for="data in myData" :key="data.id">
      <li>{{data.name}}</li>
      <li>{{data.color}}</li>
      <hr>
    </ul>
    <hr>
    <form id="myForm" @submit.prevent="saveData">
      <input type="text" name='name' placeholder="Name" v-model="name">
      <input type="text" name='color' placeholder="Color" v-model="color">
      <button type='submit'>Save</button>
    </form>

    <hr>
    <h3>Teste</h3>
    <p>Name: {{name}}</p>
    <p>Color: {{color}}</p>
  </div>
</template>


<script>
import firebase from './firebaseConfig'

const db = firebase.firestore()
const collection_name = 'comidas'
//const form = document.querySelector('#myForm')

export default {
  data(){
    return{
      myData: [],
      name: '',
      color: '',
    }
  },
  methods: {
    readData(){
      db.collection(collection_name).onSnapshot(snapshot => {
        let changes = snapshot.docChanges()
        changes.forEach(change => {
          console.log(change.doc.data())
          if(change.type == 'added'){
            console.log('Added')
            this.myData.push({
              id: change.doc.id,
              name: change.doc.data().name, 
              color: change.doc.data().color
            })
          }
          else if(change.type == 'removed'){
            console.log("Removed")
          }
        })
      })
    },
    saveData(){
      if(this.name && this.color != ''){
        db.collection(collection_name).add({
          name: this.name,
          color: this.color
        })
        this.name = ''
        this.color = ''
      }else{
        console.log("Campos vazios!")
      }
    },
  },
  mounted(){
    this.readData()
  },
  /*created(){
    this.readData()
  }*/
}
</script>