<template>
   <div id="app">
      <div class="container">
         <div class="content border rounded">
            <div class="logo">
               <h3>Logo</h3>
            </div>
            <div class="content_data" v-for="data in myData" :key="data.id">
               <p>{{data.nome}}</p>
               <p>{{data.descricao}}</p>
            </div>
            <form @submit.prevent="saveData">
               <div class="form-group">
                  <input type="text" name="nome" placeholder="Nome" v-model="nome">
               </div>
               <div class="form-group">
                  <input type="text" name="descricao" placeholder="Descrição" v-model="descricao">
               </div>
               <div class="row justify-content-center">
                  <button type='submit' class="btn btn-primary">Atualizar</button>
               </div>           
            </form>
            <div class="footer">
               <h3>Footer</h3>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
import firebase from './firebaseConfig'

const db = firebase.firestore()
const db_name = 'teste/dev03/dados'

export default {
   data(){
      return{
         myData: [],
         boo_ativo: false,
         descricao: '',
         dt_registro: '',
         nome: ''
      }
   },
   methods: {
      readData(){
         try{
            db.collection(db_name).onSnapshot(snapshot => {
               let changes = snapshot.docChanges()
               changes.forEach(change => {
                  console.log(change.doc.data())
                  console.log("Data: ", change.doc.data().dt_registro.toDate().toDateString())
                  console.log("Horário: ", change.doc.data().dt_registro.toDate().toLocaleTimeString('pt-BR'))

                  if(change.type == 'added'){
                     console.log('added')
                     this.myData.push({
                        id: change.id,
                        boo_ativo: change.doc.data().boo_ativo,
                        descricao: change.doc.data().descricao,
                        dt_registro: change.doc.data().dt_registro,
                        nome: change.doc.data().nome
                     })
                  }
               })
            })
         }catch(error){
            console.error("Erro ao ler o banco de dados! => ", error)
         }
         
      },
      saveData(){
      if(this.nome && this.descricao != ''){
        db.collection(db_name).add({
          nome: this.nome,
          descricao: this.descricao,
          boo_ativo: true,
          dt_registro: new Date()
        })

        //limpa os fields
        this.nome = ''
        this.descricao = ''
      }else{
        console.log("Campos vazios!")
      }
    },
   },
   mounted(){
      this.readData()
   }
}
</script>

<style>
/*html,
body {
   height: 100%;
}

.container {
   height: 100%;
   display: flex;
  justify-content: center;
   align-items: center;
}*/

.container{
   padding-top: 100px;
}

.content{
   /*width: 750px; */
   margin-left: auto;
   margin-right: auto; 
}

h3{
   text-align: center;
   padding-top: 50px;
}

.content_data{
   padding-left: 20px;
   line-height: 0.8;
}

.form-group input{
   width: 100%;
    
}

</style>